@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

body{
  text-align: center;
  font-family:  'Bungee Spice', cursive;
}

.grid {
  border: 1px solid;
  height: 600px;
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  background-color: #16213E;
  margin-left: 6rem;
  margin-bottom: 2rem;
}

.grid div {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  cursor: pointer;
  /* background-color: #fff; */
  /* background-color: black; */
}

.grid div:hover{
  background-color: #D8D8D8;
  transition: .3s;

}

.player-one {
  background-color: #FA9494;
  border-radius: 10px;
}

.player-two {
  background-color: #FFEEAF;
  border-radius: 10px;
}

button{
  border: none;
  width: 5rem;
  height: 2rem;
  background-color: #354259;
  cursor: pointer;
  letter-spacing: 1px;
  margin-bottom: 15px;
  color: #16213E;
  transition: .3s;
  font-family:  'Bungee Spice', cursive;

}

button:hover{
  background-color: #FFC3C3;
  color: #fff;
}